html {
    height: 100%;
}

body {
    background-color: #007bac;
    min-height: 100%;
}

h1 {
    text-align: center;
}

h2 {
	background-color: var(--primary-focus);
	margin: var(--block-spacing-vertical) 0;
	padding: var(--block-spacing-vertical) var(--block-spacing-horizontal);
	overflow: hidden;
	border-radius: var(--border-radius);
	background: var(--card-background-color);
	box-shadow: var(--card-box-shadow);
	font-size: 1.2em !important;
}

.center {
    text-align: center;
}

/* Deep-orange Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #EF4200;
  --primary-hover: #e64a19;
  --primary-focus: rgba(244, 81, 30, 0.125);
  --primary-inverse: #FFF;
}

/* Deep-orange Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #EF4200;
    --primary-hover: #ff5722;
    --primary-focus: rgba(244, 81, 30, 0.25);
    --primary-inverse: #FFF;
  }
}

/* Deep-orange Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #EF4200;
  --primary-hover: #ff5722;
  --primary-focus: rgba(244, 81, 30, 0.25);
  --primary-inverse: #FFF;
}

/* Deep-orange (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}